port                {{ openvpn_server_port }}
proto               {{ openvpn_server_protocol }}
dev                 {{ openvpn_server_dev }}
tls-client
remote              {{ ansible_default_ipv4.address }}
cipher              {{ openvpn_server_cipher }}
pull
mssfix
#user                {{ openvpn_server_user }}
#group               {{ openvpn_server_group }}
persist-key
persist-tun

{% if openvpn_server_client_enable_management %}
management localhost {{ openvpn_server_client_management_port }}
{% endif %}

{% if openvpn_server_enable_tls_auth %}
key-direction 1
<tls-auth>
{{ openvpn_server_payloads.tls_auth }}
</tls-auth>
{% endif %}

<ca>
{{ openvpn_server_payloads.ca_cert }}
</ca>
<cert>
{{ openvpn_server_payloads.client_cert }}
</cert>
<key>
{{ openvpn_server_payloads.client_key }}
</key>
