port                {{ openvpn_server_port }}
proto               {{ openvpn_server_protocol }}
dev                 {{ openvpn_server_dev }}
ca                  "ca.crt"
cert                "client0001.crt"
key                 "client0001.key"
dh                  "dh4096.pem"
tls-client
remote              {{ inventory_hostname }}
cipher              {{ openvpn_server_cipher }}
{% if openvpn_server_lzo %}
comp-lzo
{% endif %}
pull
mssfix
#user                {{ openvpn_server_user }}
#group               {{ openvpn_server_group }}
persist-key
persist-tun
#status              {{ openvpn_server_status_log }}
#log                 {{ openvpn_server_log }}
#verb                {{ openvpn_server_verb }}
