port                {{ openvpn_server_port }}
proto               {{ openvpn_server_protocol }}
dev                 {{ openvpn_server_dev }}
tun-mtu             {{ openvpn_server_mtu }}
ca                  "{{ openvpn_ca_cert }}"
cert                "{{ openvpn_server_cert }}"
key                 "{{ openvpn_server_key }}"
dh                  "{{ openvpn_dh }}"
server              {{ openvpn_server_network }} {{ openvpn_server_mask }}
keepalive           {{ openvpn_server_keepalive }}
cipher              {{ openvpn_server_cipher }}
{% if openvpn_server_lzo %}
comp-lzo
{% endif %}
user                {{ openvpn_server_user }}
group               {{ openvpn_server_group }}
persist-key
persist-tun
status              {{ openvpn_server_status_log }}
log                 {{ openvpn_server_log }}
verb                {{ openvpn_server_verb }}
