port                {{ openvpn_server_port }}
proto               {{ openvpn_server_protocol }}
dev                 {{ openvpn_server_dev }}
tun-mtu             {{ openvpn_server_mtu }}
server              {{ openvpn_server_network }} {{ openvpn_server_mask }}
keepalive           {{ openvpn_server_keepalive }}
cipher              {{ openvpn_server_cipher }}
user                {{ openvpn_server_user }}
group               {{ openvpn_server_group }}
persist-key
persist-tun
status              {{ openvpn_server_status_log }}

# Route all client traffic through the VPN
push "redirect-gateway def1"

{% if openvpn_server_enable_logging %}
log                 {{ openvpn_server_log }}
verb                {{ openvpn_server_verb }}
{% endif %}

{% if openvpn_server_enable_management %}
management localhost {{ openvpn_server_management_port }}
{% endif %}

{% if openvpn_server_enable_tls_auth %}
key-direction 0
<tls-auth>
{{ openvpn_server_payloads.tls_auth }}
</tls-auth>
{% endif %}

<dh>
{{ openvpn_server_payloads.dh }}
</dh>
<ca>
{{ openvpn_server_payloads.ca_cert }}
</ca>
<cert>
{{ openvpn_server_payloads.server_cert }}
</cert>
<key>
{{ openvpn_server_payloads.server_key }}
</key>
